/* ===========================================
   Page content styling
   =========================================== */

section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  float:left;
  height: 450px;
  line-height: 450px;
  padding:0 300px;
  color:#fff;
  font-size:35px;
}
