/* ===========================================
   Page content styling
   =========================================== */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  background-color: #fff;
  text-align: center;
  z-index: 1;
}

.main {
  margin-top: 68px;
}

section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
}

article {
  color: #666;
  max-width: 1000px;
  margin: 90px auto;
  padding: 0 20px;

  h1 {
    background-color: rgba(255, 255, 255, .5);
    text-align: center;
  }
}
